td.title {
    font-family: Comic sans;
    generic-family: Cursive;
    background-color: "#ffffff";
    align: "center";
    font-size: 14pt;
    padding: 5px;
}
td.ordinary {
    font-family: Comic sans;
    generic-family: Cursive;
    background-color: "#ffffff";
    align: "center";
    font-size: 14pt;
    padding: 5px;
}
BODY {
  font-family: Comic sans;
  generic-family: Cursive;
  }
H1 {
  font-family: Comic sans;
  generic-family: Cursive;
  display: inline-block;
  position: relative;
  letter-spacing: .05em;
  text-shadow:
    1px 1px mediumturquoise,
    -1px 1px mediumturquoise,
    -1px -1px mediumturquoise,
    1px -1px mediumturquoise;
  color: red;
  transition: all 1s;
  font-size: 300%
}

H1:before {
  font-family: Comic sans;
  generic-family: Cursive;
  content: "";
  position: absolute;
  top: 10px;
  right: -15px;
  bottom: -15px;
  left: 0;
  z-index: -1
}

H1:after {
  font-family: Comic sans;
  generic-family: Cursive;
  content: attr(data-name);
  position: absolute;
  top: 2px;
  left: 2px;
  z-index: -2;
  text-shadow:
    1px 1px red,
    2px 2px red,
    3px 3px red,
    4px 4px red;
  color: red;
  transition: all 1s;
}

H1:hover {
  color: lemonchiffon;
}

H1:hover:before {
  animation: 5s move_lines infinite linear;
}

H1:hover:after {
  font-family: Comic sans;
  generic-family: Cursive;
  color: lemonchiffon;
  text-shadow:
    1px 1px lemonchiffon,
    2px 2px lemonchiffon,
    3px 3px lemonchiffon,
    4px 4px lemonchiffon;
}
@keyframes move_lines {
  100% {
    background-position: 40px 40px;
  }
}
h4 {
    font-family: Comic sans;
    generic-family: Cursive;
    color: #cccccc;
    padding: 20px;
}
p {
    font-family: Comic sans;
    generic-family: Cursive;
    font-size: 14pt;
}